AWS_SES_REGION=eu-central-1
AWS_SES_ACCESS_KEY_ID=fake-string
AWS_SES_SECRET_ACCESS_KEY=fake-string
AWS_SES_FROM_EMAIL=no-reply@need4deed.org

CORS_ORIGINS=http://vmpub:3000,http://vmpub:3100,http://vmpub:3200
CORS_CREDENTIALS=true

URL_EMAIL_VERIFICATION=http://vmpub:3000/verify-email

NODE_ENV=development
JWT_SECRET=fake-string

SLACK_WEBHOOK_URL=fake-string

GOOGLE_WORKSPACE_USER=fake-string
GOOGLE_WORKSPACE_APP_PASSWORD=fake-string
GOOGLE_FROM_EMAIL=no-reply@need4deed.org

MOCK_VOLUNTEER_DOC_S3_UPLOAD_URL=http://vmpub:5000